<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='style.css') }}"
		/>
		<title>Situs tidak ditemukan!</title>
	</head>
	<body>
		<main>
			<div class="container">
				<h3 class="page-title"></h3>
				<div class="main-content row py-3">
					<img
						class="scarecrow-img"
						src="https://i.kek.sh/VKkocfyDNM5.png"
						alt="Image"
					/>
					<div class="main-content-text">
						<h1>Situs tidak ditemukan!</h1>
						<p>Masuk Telegram Channel untuk menggunakan bot 😁</p>
						<a class="btn" href="https://t.me/arakurumi">Telegram Channel</a>
					</div>
				</div>
			</div>
		</main>

		<footer class="py-1">
			<p>With 💖 by KQRM</p>
		</footer>
	</body>
</html>
